#tab {
	position: relative;
	width: 570px;
}
#tab div {
	position: absolute;
	top: 26px;
	left: 0;
	width: 564px;
	border: solid #D4D3D3;
	border-width: 0 1px 1px;
}
#tab div {
	display: none;
}
#tab .block {
	display: block;
	padding-bottom: 10px;
}
#tab h3 {
	float: left;
	width: 114px;
	height: 26px;
	margin: 0 -1px 0 0;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	color: #00007F;
	background: #EEE;
	cursor: pointer;
}
#tab .up {
	background: #FFF;
}
#tab ul {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}
#tab li {
	display: inline;
	float: left;
	width: 47.9%;
	height: 22px;
	margin: 0 1%;
	line-height: 22px;
	text-indent: 10px;
	border-bottom: 1px dashed #DEDEDE;
}
#tab li a {
  font-size: 12px;
  text-decoration: none;
  text-indent: 10px;
  color: #333;
}
#tab li a:hover {
	text-decoration: underline;
	color: #F00;
}
