@import url('css/list.css');
@import url('css/list2.css');
@import url('css/form.css');
@import url('css/table.css');
@import url('css/css_filter.css');
@import url('css/tab.css');
body > h2:first-child {
  margin: 20px;
  padding: 10px;
  font: bold 16px/1.5em "宋体",Verdana,Lucida,Arial,Helvetica,sans-serif;
  height: 24px;
}
body > ul {
  list-style: none;
}
